# Compiled binaries
main
*.test
deps-test

# Generated directories
bin/
out
temp/
test-results/

# Dependencies
vendor/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
bin/
hack/
.task/
deps
bin/
test-bin/
tmp/
apps/
*.tar.gz
